/*==========Font face css==========*/
@font-face {
    font-family: 'helveticaneueregular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src:  url('../fonts/Garamond.eot') format('embedded-opentype'),
        url('../fonts/Garamond.woff') format('woff'),
        url('../fonts/Garamond.ttf')  format('truetype'),
        url('../fonts/Garamond.svg#Garamond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src:  url('../fonts/Georgia.eot') format('embedded-opentype'),
        url('../fonts/Georgia.woff') format('woff'),
        url('../fonts/Georgia.ttf') format('truetype'),
        url('../fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*==========Font face css end==========*/

/*==========default element styling==========*/
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}
/*==========default element styling end==========*/


/*==========main styling==========*/
body{
    background-color: #012f5a;
    color: #303030;
    font-family: 'Georgia';
    font-size: 13px;
    line-height: 20px;
}

.body-outer {
    box-shadow: 0 0 150px #ffffff;
    width: auto;
    margin: 0 auto 100px;
    max-width: 960px;
}

.container {
    background-color: #ffffff;
    max-width: 960px;
}

.main > .row > div, footer > .row > div, header > .row > div {
    padding-left: 30px;
    padding-right: 30px;
}

.main > .row > .md-no-pad-r {
    padding-right: 0;
}

/*---header styling---*/
header {
    display: inline-block;
    width: 100%;
    background: #111111;    
}

.logo {
    display: inline-block;
    width: auto;
}

.navbar-collapse.top-nav {
    display: inline-block;
    width: 100%;
}

.search-form {
    float: right;
    width: auto;
    text-align: right;
    background: #ffffff;
    margin: 17px 20px 0 0;
    border-radius: 10px;
}

.search-btn {
    border: none;
    background: none;
    font-size: 0;
    float: left;
    width: 17%;
    background: url("../img/search-icon.png") no-repeat 5px center;
    border-radius: 10px 0 0 10px;
}

.search-input {
    background: none;
    border: none;
    width: 83%;
    float: right;
    color: #8a8a8a;
    font-size: 10px;
    font-family: "Georgia";
    padding: 3px 5px;
    border-radius: 0 10px 10px 0;
}

.top-nav {
    width: 100%;
    padding: 0 12px 20px 30px;
    position: relative;
}

.navbar-toggler {
    background: #ffffff;
    margin: 7px 0 7px 0;
    padding: 2px 5px;
}

.menu {
    text-align: right;
}

.navbar-nav {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

.nav-item {
    display: inline-block;
    width: auto;
    font-size: 12px;
    line-height: 18px;
    font-family: "Garamond";
}

.nav-link {
    color: #ffffff !important;
    border-bottom: 1px solid transparent;
    padding: 5px 7px !important;
    font-family: "Garamond";
}

.nav-item.active .nav-link, .nav-link:hover {
    color: #ffffff;
    border-color: #ffffff
}
/*---header styling end---*/


/*---hero banner slider section styling---*/
.slider-wrapper {
    width: 100%;
    height: auto;
    background: #000;
    overflow: hidden;
    position: relative;
}

.banner-outer {
    width: 300%;
    height: 100%;
    position: relative;
    left: -100%;
}

.banner-item {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    float: left;
}

.button {
    width: 30px;
    height: 30px;
    border-top: 3px solid #fff;
    position: absolute;
    cursor: pointer;
    top: 43%
}

.prev {
    border-left: 3px solid #fff;
    left: 50px;
    transform: rotate(-45deg);
}

.next {
    border-right: 3px solid #fff;
    right: 50px;
    transform: rotate(45deg);
}

.slider-img {
    width: 100%;
}

.banner-content {
    background-color: #111213;
    padding: 35px 15px 40px 30px;
}

.banner-text {
    font-size: 30px;
    line-height: 36px;
    font-family: "Garamond";
}

.social-item {
    display: inline-block;
    width: 48px;
    height: 48px;
    max-width: 18.1%;
}

.social-link {
    display: inline-block;
    width: 100%;
    background: #2c2e30;
    border-radius: 50%;
    padding: 7px;
    margin: 0 3px;
}

.social-img {
    max-width: 100%;
}
/*---hero banner slider section styling---*/


/*---main section styling---*/
.blog-section {
    display: inline-block;
    width: 100%;
    padding-top: 28px;
    margin-bottom: 40px;
}

.common-box {
    border-bottom: 1px solid #efefef;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.title {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    color: #303030;
    font-family: 'Garamond';
    text-align: left;
    margin: 0;
}

.title.side-title {
    margin-bottom: 20px;
}

.post-date {
    color: #2c83b0;
    font-size: 10px;
    line-height: 14px;
    font-family: "Garamond";
    float: left;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.detail {
    color: #303030;
    font-size: 13px;
    line-height: 20px;
    font-family: "Georgia";
    text-align: left;
    margin-bottom: 20px;
}

.blog-detail {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.read-more-btn {
    font-size: 11px;
    padding: 5px 40px;
    line-height: 20px;
    color: #e2e1e1;
    box-shadow: 0 1px 0 #7b7b7b;
    text-align: center;
    font-weight: 500;
    border-radius: 2px;
    background: linear-gradient(to top right, #4681a0, #5fabd2);
    text-shadow: 1px -1px #2b5063;
}

.read-more-btn:hover, .read-more-btn:focus {
    color: #e2e1e1;
    background: linear-gradient(to top right, #5fabd2, #4681a0);
}

.img-box {
    display: inline-block;
    width: 100%;
    background: #f3f3f3;
    padding: 1px;
    border: 1px solid #e5e5e5;
}

.img-box img {
    display: inline-block;
    width: 100%;
    border: 4px solid #e9e9e9;
}

.sidebar {
    display: inline-block;
    background: linear-gradient(to bottom, #e7e7e7, #ffffff);
    padding: 34px 20px;
    width: 95%;
    float: right;
    margin-right: -30px;
}

.sidebar .commom-box {
    margin-bottom: 33px;
}

.side-list {
    font-size: 13px;
    line-height: 20px;
    font-family: "Georgia";
    color: #303030;
}

.read-more-link {
    font-family: 'Georgia';
    font-size: 13px;
    line-height: 20px;
    color: #2c83b0;
    display: inline-block;
}

.read-more-link.no-space-top {
    margin-top: -10px;
}

.page-navigation {
    padding: 5px 0;
    display: inline-block;
    width: 100%
}

.pagination {
    display: inline-block;
    width: 100%;
}

.page-item {
    margin: 0 1px;
    float: none;
    display: inline-block;
}

.page-link {
    background: #eeeeee;
    border-radius: 0;
    color: #c1c1c1;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
    border: none;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
}

.page-link.active, .page-link:hover, .page-link:focus {
    background: #c1c1c1;
    color: #eeeeee;
}
/*---main section styling end---*/


/*---sponsors section styling---*/
.sponsors {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.title.sponsor-title {
    margin-bottom: 20px;
}

.sponsor-list {
    float: left;
    width: 100%;
}

.sponsor-item {
    float: left;
    width: 15.7%;
    margin: 0.4%;
}

.img-outer {
    height: 78px;
    display: flex;
    align-items: center;
    float: left;
    text-align: center;
    width: 100%;
    background: #ffffff;
    border: 4px solid #e9e9e9;
    justify-content: center;
}

.sponsor-img-box img{
    width: auto;
    max-width: 98%;
    height: auto;
    text-align: center;
    border: none;
}
/*---sponsors section styling end---*/


/*---footer styling---*/
footer > div {
    background: #0f0f0f;
}

.white {
    color: #ffffff;
}

.gray {
    color: #6f6e6e;
}

.hi-light {
    color: #a3a3a3;
}

.footer-title{
    padding: 20px 0 15px;
}

.footer-common-box {
    display: inline-block;
    margin: 0;
    padding-bottom: 40px;
    border: none;
    width: 100%;
}

.detail-link {
    color: #6f6e6e;
}

.detail-link:hover, .detail-link:focus {
    color: #a3a3a3;
}

.footer-img-list {
    display: inline-block;
    width: 100%;
}

.footer-img-item {
    float: left;
    width: 31%;
    margin: 2px;
}

.img-border {
    float: left;
    width: 100%;
    border: 1px solid #333333;
}

.img-border img{
    width: 100%
}
/*---footer styling end---*/
/*==========main styling end==========*/




/*========== responsive styling ==========*/
/*-----Large devices (desktops)-----*/
@media (max-width: 1199px) {
    
}

/*-----Medium devices (tablets)-----*/
@media (max-width: 991px) {
    .body-outer {
        margin-bottom: 0;
    }
    
    .logo {
        max-width: 36%;
    }
    
    .navbar-nav {
        margin-top: 0;
    }
    
    .nav-link{
        padding: 2px 4px !important
    }
    
    .main > .row > div, footer > .row > div, header > .row > div {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .top-nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .sidebar {
        width: 100%;
        margin-right: -15px;
    }
}

/*-----Small devices (landscape phones)-----*/
@media (max-width: 767px) {
    
    .logo {
        max-width:80%;
    }
    
    .menu {
        position: absolute;
        top: 64px;
        background: #111111;
        z-index: 2;
        width: 100%;
        margin: 0 auto;
        left: 0;
        padding: 0 20px;
    }
    
    .search-form {
        margin: 15px 15px 10px 0;
    }
    
    .menu {
        text-align: left;
    }
    
    .nav-item {
        width: 100%;
    }
    
    .nav-link {
        padding: 14px 4px !important;
    }
    
    .sidebar {
        margin: 0;
    }
    
    .main > .row > .md-no-pad-r {
        padding-right: 15px;
    }    
    
    .banner-content {
        padding: 20px 15px 25px;
        text-align: center;
    }
    
    .banner-text {
        margin-bottom: 20px;
    }
    
    .pagination{
        text-align: center;
    }
    
    .sponsor-item {
        width: 19.1%;
    }
    
    .footer-img-item {
        width: 10.31%;
    }
    
    .footer-common-box {
        padding-bottom: 10px;
    }
    
    .footer-common-box.last {
        padding-bottom: 40px;
    }
    
}

/*-----Extra small devices (portrait phones)-----*/
@media (max-width: 575px) {
    
    .banner-text {
        font-size: 20px;
        line-height: 24px;
    }
    
    .title {
        font-size: 20px;
        line-height: 22px;
    }
    
    .blog-section {
        text-align: center;
    }  
    
    .img-box {
        max-width: 250px;
        margin-bottom: 10px;
    }
    
    .sponsor-item {
        width: 32.5%
    }
    
    .footer-img-item {
        width: 31%;
    }
}
/*========== responsive styling end ==========*/
